:root {
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-image: url(../web-design/image/banner-bg.jpeg);
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.navbar__title {
    display: flex;
    color: white;
}

.host {
    font-size: 30px;
    padding-left: 10px;
    text-transform: uppercase;
}

.CLOUD {
    font-size: 15px;
    padding: 8px 12px;
    text-transform: uppercase;
}

.navbar__button {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__button li {
    padding: 8px 20px;
}

.login {
    background-color: rgba( 255, 255, 255, 0 );
    padding: 8px 20px;
    border-color: white;
    color: white;
}

.navbar__button {
    display: flex;
}

.signup {
    padding: 8px 20px;
    background-color: #11BCD4;
    border: none;
    color: white;
}

.domain {
    color: white;
    justify-content: center;
    align-items: center;
}

.submit {
    list-style: none;
    display: flex;
}